# Main source language
*.go linguist-language=Go

# Explicit HTML (optional but harmless)
*.html linguist-language=HTML

# Exclude the JS glue code & WASM binary from stats
static/wasm_exec.js     linguist-vendored=true
static/wasm_exec.js     linguist-generated=true
static/main.wasm        linguist-generated=true
static/main.wasm        linguist-vendored=true
